html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("https://images.wallpaperscraft.com/image/agreement_shaking_hands_businessmen_80206_1920x1080.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-nav-collapse, .page-footer {
    background-color: #563e91 !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}